body {
  margin: 0;
  background: linear-gradient(to right top, #dfa6a6, #d2eba1, #8ec4d6);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', monospace;
}

.joke-container {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 25px;
  box-shadow: 0 9px 19px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  width: 60%;
  text-align: center;
  color: darkslategreen;
}

.title {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
  letter-spacing: 1.5px;
}

.joke-text {
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0;
}

.joke-button {
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  padding: 12px;
  background-color: rgba(143, 217, 15, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  width: 220px;
  color: darkslategreen;
}

.joke-button:hover {
  background-color: rgba(159, 195, 228, 0.6);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 300ms ease, transform 200ms ease;
}